*.pt
*.png
*.jpg
*.jpeg
*.gif
*.mp4
*.avi
*.mov
*.wmv
*.flv
*.mkv
*.log
*.csv
vae_latent/logs_vae/
*.out
*.err
*.pt
events.out.tfevents*
*.pyc
droid_policy_learning/logs/
droid_policy_learning/log/
LIBERO/
vqvae_lapa/
vae_uniskill/
laq/
